
.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #444;
  background: rgba(248, 248, 248, 0.54);
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
  }
  .form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(248, 248, 248, 0.3);
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
  }
  body{
    background: url(../img/bg.png);
  }
